.selection-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px 8px 24px 80px;
  gap: 16px;
}

.selection-panel__total {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  width: 42px;
  line-height: 1.1;
}
